.formData{

    display: grid;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    margin-top: 3%;
    padding: 3%;
    border: black 5px solid;
    border-radius: 10px;
}

.addressForm {
    padding: 5%;
}

#streetAddress, #city, #locality, #postalCode, #country{
    min-height: 50px;
    margin-left: 2%;
}

#updateAddress{
    margin-top: 2%;
    padding: 2%;
}