.productDetail{

    width: 100%;
    margin-top: 5em;
    padding-left: 1em;
    min-width: 50%;
    max-width: 90%;

}


.detailsName{

    place-items: center;
    border: 4px solid;
    padding: 1%;
    border-image: linear-gradient(to left, lightgrey, black) 1 0;


}

.upperDetail {
    background: white;
    border: black;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
.upperDetail:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.ratingBox {
    border: black solid 4px;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23b0b0b0' fill-opacity='0.29'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.reviews{
    padding-top: 2%;
    display:grid;
    grid-gap: 1em;
}

.reviewBlock{
    padding-top: 3%;
    min-width: 100%;
}

.addReview{

    display: flex;
    margin: 0 0 0;
    min-width: 100%;
    min-height: 50px;
    padding-top: 1%;
    gap:2%;
}

.reviewText{
    flex-grow: 3;
    display:flex;
    border: none;
    background-color: white;
}

.reviewInput{
    flex:fit-content;
}

.reviewButton{
    flex-grow: 1;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.reviewButton:hover {
    background-color: #fff;
}

.reviewButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .reviewButton {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* CSS */
.buttonAddCartPDetail {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #000000;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

.buttonAddCartPDetail:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.buttonAddCartPDetail:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.imageProductDetails{

    max-width: 350px;
    min-width: 100px;
    width: 50vw;
    aspect-ratio: 1/1;

}